<footer class="footer">
  <small>
    Meet Explore by Alex Shelmire
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><%= link_to "Blog", '#' %></li>
    </ul>
  </nav>
</footer>